google
google-cloud-bigquery
google-cloud-bigquery-analyticshub
google-cloud-pubsub
google-cloud-storage
google-cloud-aiplatform
pandas
numpy
pyarrow
db-dtypes
python-dotenv
matplotlib
seaborn
scikit-learn
scipy